# デフォルト設定との共通設定

# theme = "Catppuccin Mocha"
font-feature = -calt, -liga, -dlig
font-size = 16
window-padding-x = 10
window-padding-y = 10
background-opacity = 0.95
window-save-state = always
scrollback-limit = 100000000
window-inherit-working-directory = false
mouse-hide-while-typing = true
keybind = super+shift+t=prompt_tab_title
keybind = cmd+ctrl+minus=equalize_splits
keybind = cmd+d=unbind
keybind = cmd+shift+d=unbind
keybind = cmd+t=unbind
keybind = cmd+n=unbind
keybind = cmd+w=unbind
keybind = ctrl+tab=unbind
keybind = ctrl+shift+tab=unbind
keybind = unconsumed:ctrl+tab=show_gtk_inspector
keybind = unconsumed:shift+ctrl+tab=show_gtk_inspector
macos-titlebar-style = native
font-codepoint-map = U+3000-U+30FF,U+4E00-U+9FFF=BIZ UDGothic

# private のみの設定
theme = iTerm2 Solarized Light
quit-after-last-window-closed = true

# 次のコマンドで開く
# open -na Ghostty --args --config-file=$HOME/dotfiles/ghostty/light.config 